# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Ignore on project
/lib/generated/
*.g.dart
/lib/gen/
coverage/lcov.info
/ios/build
/resources/
ios/Podfile.lock
code-quality-report.json
metrics/
AuthKey.p8
fastlane/app_store_connect_token.json
assets/pem/
.pem
fastlane/hype_app_store_connect_token.json
android/google_credential_ci.json
fastlane/simulator-upload-credential.json
fastlane/google_application_credentials_dev.json
widgets_report/

.firebase
Gemfile.lock
fastlane/report.xml
*.stackdump
fastlane/.env.
*.cer
*.mobileprovision
node_modules
*.jks

# FVM Version Cache
.fvm/